.cat1.block1.linkblock > a > .linkblock-title {
    background-color: #479272;
}
.cat1.block2.linkblock > a > .linkblock-title {
    background-color: #0f7f99;
}
.cat1.block3.linkblock > a > .linkblock-title {
    background-color: #2c545e;
}
.cat1.block4.linkblock > a > .linkblock-title {
    background-color: #98afa6;
}


.cat2.block1.linkblock > a > .linkblock-title {
    background-color: #9ea76b;
}
.cat2.block2.linkblock > a > .linkblock-title {
    background-color: #afbf4f;
}
.cat2.block3.linkblock > a > .linkblock-title {
    background-color: #a5a548;
}
.cat2.block4.linkblock > a > .linkblock-title {
    background-color: #91ac3d;
}


.cat3.block1.linkblock > a > .linkblock-title {
    background-color: #fc9d59;
}
.cat3.block2.linkblock > a > .linkblock-title {
    background-color: #59888f;
}
.cat3.block3.linkblock > a > .linkblock-title {
    background-color: #59abac;
}
.cat3.block4.linkblock > a > .linkblock-title {
    background-color: #f97d59;
}


.cat4.block1.linkblock > a > .linkblock-title {
    background-color: #f97d59;
}
.cat4.block2.linkblock > a > .linkblock-title {
    background-color: #a7b8fe;
}
.cat4.block3.linkblock > a > .linkblock-title {
    background-color: #ff8800;
}
.cat4.block4.linkblock > a > .linkblock-title {
    background-color: #5f75cf;
}


.cat5.block1.linkblock > a > .linkblock-title {
    background-color: #5d2121;
}
.cat5.block2.linkblock > a > .linkblock-title {
    background-color: #d85768;
}
.cat5.block3.linkblock > a > .linkblock-title {
    background-color: #dd4e4d;
}
.cat5.block4.linkblock > a > .linkblock-title {
    background-color: #d85768;
}


.cat6.block1.linkblock > a > .linkblock-title {
    background-color: #B2A31E;
}
.cat6.block2.linkblock > a > .linkblock-title {
    background-color: #6D45FF;
}
.cat6.block3.linkblock > a > .linkblock-title {
    background-color: #aaa151;
}
.cat6.block4.linkblock > a > .linkblock-title {
    background-color: #300DB2;
}