#main_block_side_bar {
  position: absolute;
  display: block;
  float: left;
  left: 0px;
  width: 32px;
  height: 100%;
  background-size: 32px 320px;
  z-index: 2;
}
#main_block_side_bar.cat1 {
  background-image: -webkit-gradient(linear, 0 0, 0 100%,
              color-stop(.1, #479272), color-stop(.1, transparent),
              color-stop(.2, transparent), color-stop(.2, #bddfd1),
              color-stop(.3, #bddfd1), color-stop(.3, transparent),
              color-stop(.4, transparent), color-stop(.4, #c6f2e9),
              color-stop(.5, #c6f2e9), color-stop(.5, transparent),
              color-stop(.6, transparent), color-stop(.6, #0f7f99),
              color-stop(.7, #0f7f99), color-stop(.7, transparent),
              color-stop(.8, transparent), color-stop(.8, #2c545e),
              color-stop(.9, #2c545e), color-stop(.9, transparent),
              color-stop(.10, transparent));
  background-image: linear-gradient(#479272 10%, transparent 10%,
                                    transparent 20%, #bddfd1 20%,
                                    #bddfd1 30%, transparent 30%,
                                    transparent 40%, #c6f2e9 40%,
                                    #c6f2e9 50%, transparent 50%,
                                    transparent 60%, #0f7f99 60%,
                                    #0f7f99 70%, transparent 70%,
                                    transparent 80%, #2c545e 80%,
                                    #2c545e 90%, transparent 90%,
                                    transparent 100%);
  background-image: -moz-linear-gradient(#479272 10%, transparent 10%,
                                    transparent 20%, #bddfd1 20%,
                                    #bddfd1 30%, transparent 30%,
                                    transparent 40%, #c6f2e9 40%,
                                    #c6f2e9 50%, transparent 50%,
                                    transparent 60%, #0f7f99 60%,
                                    #0f7f99 70%, transparent 70%,
                                    transparent 80%, #2c545e 80%,
                                    #2c545e 90%, transparent 90%,
                                    transparent 100%);
  background-image: -ms-linear-gradient(#479272 10%, transparent 10%,
                                    transparent 20%, #bddfd1 20%,
                                    #bddfd1 30%, transparent 30%,
                                    transparent 40%, #c6f2e9 40%,
                                    #c6f2e9 50%, transparent 50%,
                                    transparent 60%, #0f7f99 60%,
                                    #0f7f99 70%, transparent 70%,
                                    transparent 80%, #2c545e 80%,
                                    #2c545e 90%, transparent 90%,
                                    transparent 100%);
  background-image: -o-linear-gradient(#479272 10%, transparent 10%,
                                    transparent 20%, #bddfd1 20%,
                                    #bddfd1 30%, transparent 30%,
                                    transparent 40%, #c6f2e9 40%,
                                    #c6f2e9 50%, transparent 50%,
                                    transparent 60%, #0f7f99 60%,
                                    #0f7f99 70%, transparent 70%,
                                    transparent 80%, #2c545e 80%,
                                    #2c545e 90%, transparent 90%,
                                    transparent 100%);
}
#main_block_side_bar.cat2 {
  background-image: -webkit-gradient(linear, 0 0, 0 100%,
              color-stop(.1, #d8d897), color-stop(.1, transparent),
              color-stop(.2, transparent), color-stop(.2, #e5f6c8),
              color-stop(.3, #e5f6c8), color-stop(.3, transparent),
              color-stop(.4, transparent), color-stop(.4, #cedb83),
              color-stop(.5, #cedb83), color-stop(.5, transparent),
              color-stop(.6, transparent), color-stop(.6, #b4cc69),
              color-stop(.7, #b4cc69), color-stop(.7, transparent),
              color-stop(.8, transparent), color-stop(.8, #9ea76b),
              color-stop(.9, #9ea76b), color-stop(.9, transparent),
              color-stop(.10, transparent));
  background-image: linear-gradient(#d8d897 10%, transparent 10%,
                                    transparent 20%, #e5f6c8 20%,
                                    #e5f6c8 30%, transparent 30%,
                                    transparent 40%, #cedb83 40%,
                                    #cedb83 50%, transparent 50%,
                                    transparent 60%, #b4cc69 60%,
                                    #b4cc69 70%, transparent 70%,
                                    transparent 80%, #9ea76b 80%,
                                    #9ea76b 90%, transparent 90%,
                                    transparent 100%);
  background-image: -moz-linear-gradient(#d8d897 10%, transparent 10%,
                                    transparent 20%, #e5f6c8 20%,
                                    #e5f6c8 30%, transparent 30%,
                                    transparent 40%, #cedb83 40%,
                                    #cedb83 50%, transparent 50%,
                                    transparent 60%, #b4cc69 60%,
                                    #b4cc69 70%, transparent 70%,
                                    transparent 80%, #9ea76b 80%,
                                    #9ea76b 90%, transparent 90%,
                                    transparent 100%);
  background-image: -ms-linear-gradient(#d8d897 10%, transparent 10%,
                                    transparent 20%, #e5f6c8 20%,
                                    #e5f6c8 30%, transparent 30%,
                                    transparent 40%, #cedb83 40%,
                                    #cedb83 50%, transparent 50%,
                                    transparent 60%, #b4cc69 60%,
                                    #b4cc69 70%, transparent 70%,
                                    transparent 80%, #9ea76b 80%,
                                    #9ea76b 90%, transparent 90%,
                                    transparent 100%);
  background-image: -o-linear-gradient(#d8d897 10%, transparent 10%,
                                    transparent 20%, #e5f6c8 20%,
                                    #e5f6c8 30%, transparent 30%,
                                    transparent 40%, #cedb83 40%,
                                    #cedb83 50%, transparent 50%,
                                    transparent 60%, #b4cc69 60%,
                                    #b4cc69 70%, transparent 70%,
                                    transparent 80%, #9ea76b 80%,
                                    #9ea76b 90%, transparent 90%,
                                    transparent 100%);
}
#main_block_side_bar.cat3 {
  background-image: -webkit-gradient(linear, 0 0, 0 100%,
              color-stop(.1, #fc9d59), color-stop(.1, transparent),
              color-stop(.2, transparent), color-stop(.2, #f97d59),
              color-stop(.3, #f97d59), color-stop(.3, transparent),
              color-stop(.4, transparent), color-stop(.4, #59888f),
              color-stop(.5, #59888f), color-stop(.5, transparent),
              color-stop(.6, transparent), color-stop(.6, #59abac),
              color-stop(.7, #59abac), color-stop(.7, transparent),
              color-stop(.8, transparent), color-stop(.8, #93e1e3),
              color-stop(.9, #93e1e3), color-stop(.9, transparent),
              color-stop(.10, transparent));
  background-image: linear-gradient(#fc9d59 10%, transparent 10%,
                                    transparent 20%, #f97d59 20%,
                                    #f97d59 30%, transparent 30%,
                                    transparent 40%, #59888f 40%,
                                    #59888f 50%, transparent 50%,
                                    transparent 60%, #59abac 60%,
                                    #59abac 70%, transparent 70%,
                                    transparent 80%, #93e1e3 80%,
                                    #93e1e3 90%, transparent 90%,
                                    transparent 100%);
  background-image: -moz-linear-gradient(#fc9d59 10%, transparent 10%,
                                    transparent 20%, #f97d59 20%,
                                    #f97d59 30%, transparent 30%,
                                    transparent 40%, #59888f 40%,
                                    #59888f 50%, transparent 50%,
                                    transparent 60%, #59abac 60%,
                                    #59abac 70%, transparent 70%,
                                    transparent 80%, #93e1e3 80%,
                                    #93e1e3 90%, transparent 90%,
                                    transparent 100%);
  background-image: -ms-linear-gradient(#fc9d59 10%, transparent 10%,
                                    transparent 20%, #f97d59 20%,
                                    #f97d59 30%, transparent 30%,
                                    transparent 40%, #59888f 40%,
                                    #59888f 50%, transparent 50%,
                                    transparent 60%, #59abac 60%,
                                    #59abac 70%, transparent 70%,
                                    transparent 80%, #93e1e3 80%,
                                    #93e1e3 90%, transparent 90%,
                                    transparent 100%);
  background-image: -o-linear-gradient(#fc9d59 10%, transparent 10%,
                                    transparent 20%, #f97d59 20%,
                                    #f97d59 30%, transparent 30%,
                                    transparent 40%, #59888f 40%,
                                    #59888f 50%, transparent 50%,
                                    transparent 60%, #59abac 60%,
                                    #59abac 70%, transparent 70%,
                                    transparent 80%, #93e1e3 80%,
                                    #93e1e3 90%, transparent 90%,
                                    transparent 100%);
}
#main_block_side_bar.cat4 {
  background-image: -webkit-gradient(linear, 0 0, 0 100%,
              color-stop(.1, #a7b8fe), color-stop(.1, transparent),
              color-stop(.2, transparent), color-stop(.2, #d4dbff),
              color-stop(.3, #d4dbff), color-stop(.3, transparent),
              color-stop(.4, transparent), color-stop(.4, #879ac9),
              color-stop(.5, #879ac9), color-stop(.5, transparent),
              color-stop(.6, transparent), color-stop(.6, #5f75cf),
              color-stop(.7, #5f75cf), color-stop(.7, transparent),
              color-stop(.8, transparent), color-stop(.8, #ff8800),
              color-stop(.9, #ff8800), color-stop(.9, transparent),
              color-stop(.10, transparent));
  background-image: linear-gradient(#a7b8fe 10%, transparent 10%,
                                    transparent 20%, #d4dbff 20%,
                                    #d4dbff 30%, transparent 30%,
                                    transparent 40%, #879ac9 40%,
                                    #879ac9 50%, transparent 50%,
                                    transparent 60%, #5f75cf 60%,
                                    #5f75cf 70%, transparent 70%,
                                    transparent 80%, #ff8800 80%,
                                    #ff8800 90%, transparent 90%,
                                    transparent 100%);
  background-image: -moz-linear-gradient(#a7b8fe 10%, transparent 10%,
                                    transparent 20%, #d4dbff 20%,
                                    #d4dbff 30%, transparent 30%,
                                    transparent 40%, #879ac9 40%,
                                    #879ac9 50%, transparent 50%,
                                    transparent 60%, #5f75cf 60%,
                                    #5f75cf 70%, transparent 70%,
                                    transparent 80%, #ff8800 80%,
                                    #ff8800 90%, transparent 90%,
                                    transparent 100%);
  background-image: -ms-linear-gradient(#a7b8fe 10%, transparent 10%,
                                    transparent 20%, #d4dbff 20%,
                                    #d4dbff 30%, transparent 30%,
                                    transparent 40%, #879ac9 40%,
                                    #879ac9 50%, transparent 50%,
                                    transparent 60%, #5f75cf 60%,
                                    #5f75cf 70%, transparent 70%,
                                    transparent 80%, #ff8800 80%,
                                    #ff8800 90%, transparent 90%,
                                    transparent 100%);
  background-image: -o-linear-gradient(#a7b8fe 10%, transparent 10%,
                                    transparent 20%, #d4dbff 20%,
                                    #d4dbff 30%, transparent 30%,
                                    transparent 40%, #879ac9 40%,
                                    #879ac9 50%, transparent 50%,
                                    transparent 60%, #5f75cf 60%,
                                    #5f75cf 70%, transparent 70%,
                                    transparent 80%, #ff8800 80%,
                                    #ff8800 90%, transparent 90%,
                                    transparent 100%);
}
#main_block_side_bar.cat5 {
  background-image: -webkit-gradient(linear, 0 0, 0 100%,
              color-stop(.1, #f2e3d8), color-stop(.1, transparent),
              color-stop(.2, transparent), color-stop(.2, #faa9a9),
              color-stop(.3, #faa9a9), color-stop(.3, transparent),
              color-stop(.4, transparent), color-stop(.4, #ed9e9e),
              color-stop(.5, #ed9e9e), color-stop(.5, transparent),
              color-stop(.6, transparent), color-stop(.6, #ea797e),
              color-stop(.7, #ea797e), color-stop(.7, transparent),
              color-stop(.8, transparent), color-stop(.8, #d85768),
              color-stop(.9, #d85768), color-stop(.9, transparent),
              color-stop(.10, transparent));
  background-image: linear-gradient(#f2e3d8 10%, transparent 10%,
                                    transparent 20%, #faa9a9 20%,
                                    #faa9a9 30%, transparent 30%,
                                    transparent 40%, #ed9e9e 40%,
                                    #ed9e9e 50%, transparent 50%,
                                    transparent 60%, #ea797e 60%,
                                    #ea797e 70%, transparent 70%,
                                    transparent 80%, #d85768 80%,
                                    #d85768 90%, transparent 90%,
                                    transparent 100%);
  background-image: -moz-linear-gradient(#f2e3d8 10%, transparent 10%,
                                    transparent 20%, #faa9a9 20%,
                                    #faa9a9 30%, transparent 30%,
                                    transparent 40%, #ed9e9e 40%,
                                    #ed9e9e 50%, transparent 50%,
                                    transparent 60%, #ea797e 60%,
                                    #ea797e 70%, transparent 70%,
                                    transparent 80%, #d85768 80%,
                                    #d85768 90%, transparent 90%,
                                    transparent 100%);
  background-image: -ms-linear-gradient(#f2e3d8 10%, transparent 10%,
                                    transparent 20%, #faa9a9 20%,
                                    #faa9a9 30%, transparent 30%,
                                    transparent 40%, #ed9e9e 40%,
                                    #ed9e9e 50%, transparent 50%,
                                    transparent 60%, #ea797e 60%,
                                    #ea797e 70%, transparent 70%,
                                    transparent 80%, #d85768 80%,
                                    #d85768 90%, transparent 90%,
                                    transparent 100%);
  background-image: -o-linear-gradient(#f2e3d8 10%, transparent 10%,
                                    transparent 20%, #faa9a9 20%,
                                    #faa9a9 30%, transparent 30%,
                                    transparent 40%, #ed9e9e 40%,
                                    #ed9e9e 50%, transparent 50%,
                                    transparent 60%, #ea797e 60%,
                                    #ea797e 70%, transparent 70%,
                                    transparent 80%, #d85768 80%,
                                    #d85768 90%, transparent 90%,
                                    transparent 100%);
}
#main_block_side_bar.cat6 {
  background-image: -webkit-gradient(linear, 0 0, 0 100%,
              color-stop(.1, #ffec45), color-stop(.1, transparent),
              color-stop(.2, transparent), color-stop(.2, #B2A31E),
              color-stop(.3, #B2A31E), color-stop(.3, transparent),
              color-stop(.4, transparent), color-stop(.4, #FFEF5E),
              color-stop(.5, #FFEF5E), color-stop(.5, transparent),
              color-stop(.6, transparent), color-stop(.6, #300DB2),
              color-stop(.7, #300DB2), color-stop(.7, transparent),
              color-stop(.8, transparent), color-stop(.8, #6D45FF),
              color-stop(.9, #6D45FF), color-stop(.9, transparent),
              color-stop(.10, transparent));
  background-image: linear-gradient(#ffec45 10%, transparent 10%,
                                    transparent 20%, #B2A31E 20%,
                                    #B2A31E 30%, transparent 30%,
                                    transparent 40%, #FFEF5E 40%,
                                    #FFEF5E 50%, transparent 50%,
                                    transparent 60%, #300DB2 60%,
                                    #300DB2 70%, transparent 70%,
                                    transparent 80%, #6D45FF 80%,
                                    #6D45FF 90%, transparent 90%,
                                    transparent 100%);
  background-image: -moz-linear-gradient(#ffec45 10%, transparent 10%,
                                    transparent 20%, #B2A31E 20%,
                                    #B2A31E 30%, transparent 30%,
                                    transparent 40%, #FFEF5E 40%,
                                    #FFEF5E 50%, transparent 50%,
                                    transparent 60%, #300DB2 60%,
                                    #300DB2 70%, transparent 70%,
                                    transparent 80%, #6D45FF 80%,
                                    #6D45FF 90%, transparent 90%,
                                    transparent 100%);
  background-image: -ms-linear-gradient(#ffec45 10%, transparent 10%,
                                    transparent 20%, #B2A31E 20%,
                                    #B2A31E 30%, transparent 30%,
                                    transparent 40%, #FFEF5E 40%,
                                    #FFEF5E 50%, transparent 50%,
                                    transparent 60%, #300DB2 60%,
                                    #300DB2 70%, transparent 70%,
                                    transparent 80%, #6D45FF 80%,
                                    #6D45FF 90%, transparent 90%,
                                    transparent 100%);
  background-image: -o-linear-gradient(#ffec45 10%, transparent 10%,
                                    transparent 20%, #B2A31E 20%,
                                    #B2A31E 30%, transparent 30%,
                                    transparent 40%, #FFEF5E 40%,
                                    #FFEF5E 50%, transparent 50%,
                                    transparent 60%, #300DB2 60%,
                                    #300DB2 70%, transparent 70%,
                                    transparent 80%, #6D45FF 80%,
                                    #6D45FF 90%, transparent 90%,
                                    transparent 100%);
}